<h1 class="center-align results-font">Result Page</h1>

<div class="cotnainer results-container">
<ul class="collapsible popout court_list">
  {{#each courts as |court|}}
  <li>
    <div class="collapsible-header">{{court.street}}</div>
    <div class="collapsible-body green lighten-4"><span>
        {{court.city}},
        {{court.state}} 
        {{court.zip_code}}            
        <a class="waves-effect waves-dark btn-floating right">
          <i data-courtid={{court.id}} class="material-icons favorite">star_border</i>
          </a><br>
        {{court.type}}<br>
        Number of Courts: {{court.count}}<br>
        {{#if court.clay}}
        Court Type: Clay<br>
        {{/if}}
        {{#if court.grass}}
        Court Type: Grass<br>
        {{/if}}
        {{#if court.wall}}
        Court Has a Wall<br>
        {{/if}}
        {{#if court.indoor}}
        Indoor Court<br>
        {{/if}}
        {{#if court.lights}}
        Court Has Lights<br>
        {{/if}}
        {{#if court.proshop}}
        Court Has a Proshop<br>
        {{/if}}
        


        </span></div>
    </li>
  {{/each}}

</ul>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function () { var elems =
  document.querySelectorAll('.collapsible'); var instances =
  M.Collapsible.init(elems); });
</script>

<script>
  const favBtn = document.querySelectorAll('.favorite'); favBtn.forEach(btn => {
  const renderFav =
  btn.parentElement.parentElement.parentElement.parentElement.textContent;
  btn.addEventListener('click', function (event) { console.log('favorite' +
  renderFav); fetch("../api/court/favorites", { method: "POST", body:
  JSON.stringify({ court_id: event.target.dataset.courtid }), headers: {
  "Content-Type": "application/json" }, }) .then(response =>
  console.log(response)) }); });
</script>